* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: black !important;
  background: transparent !important;
}

.link:hover {
  color: rgb(0, 209, 205) !important;
  background: transparent !important;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(to right, black, rgb(0, 209, 205));
}

/* ?Search bar */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  margin-right: 30px;

}

.search-bar input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background: transparent;
}

.search-bar input:active,
.search-bar input:focus {
  outline: none !important;
  border: none !important;
}

.search-icon {
  position: absolute;
  right: 20px;
}

.clear-icon{
    position: absolute;
    font-size: 1.3em;
    right: 40px !important;
}