*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
}

input:active, textarea:active{
    outline: none;
    border: none;
}

/* ?Add Note */
.addNote{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.addButton{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(203, 239, 247);
}

.btn{
    width: 100%;
}

.error{
    color: red;
    font-size: 0.8rem;
}

.tags{
    display: flex;
    gap: 10px;
    align-items: center;
}

.tags button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: rgb(203, 239, 247);
}

.added-tags{
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: grey;
}

.added-tags li{
    display: inline;
}