* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px !important;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: transparent;
}

input:active,
textarea:active {
  outline: none;
  border: none;
}

/* ?Add Note */
.addNote {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.addButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgb(203, 239, 247);
}

.btn {
  width: 100%;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.tags {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tags button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: rgb(203, 239, 247);
}

.added-tags {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: grey;
  flex-wrap: wrap;
}

.added-tags li {
  display: inline;
}

/* Tag alert */
.tag-alert {
  position: fixed;
  top: 0;
  left: 30%;
}

.one-tag {
  display: flex !important;
  flex-direction: row !important;
  gap: 5px !important;
  background-color: #cbeff7 !important;
  border-radius: 5px !important;
  width: fit-content !important;
  align-items: center !important;
}

.close-icon {
    cursor: pointer;
    font-size: 1.6em;
}

