*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profileContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.profileContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(245, 137, 98);
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.profileImageContainer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
    font-size: 25px;    
}

.link{
    color: rgb(245, 137, 98);
    text-decoration: none;
    font-size: 1.3em;
}

.link:hover{
    cursor: pointer;
}

.header{
    color: rgb(245, 137, 98);
}