*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    flex: 1 1 200px; 
    max-width: 200px; 
    height: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(125deg, black, rgb(0, 209, 205));
    color: white !important;
    justify-content: space-between;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
}

.pin, .actions > *{
    cursor: pointer;
    color: rgb(123, 122, 122);
    /* color: aqua; */
    font-size: 1.1em;
}

.title-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-date p{
    font-size: 0.7em;
}

.c-body{
    text-align: start;
    font-weight: 500;
}

.c-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.c-footer .actions{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.c-footer .tags{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7em;
}